@model IEnumerable<SkillsMatrix.Models.QualificationListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QualificationId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.YearsOfExperience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Certification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QualificationId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.YearsOfExperience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SkillLevel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Certification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
