@model SkillsMatrix.Models.ProfileDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProfileDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfSkill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfSkill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LevelOfSkill)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LevelOfSkill)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NameOfCertification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameOfCertification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModifiedUtc)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProfileId }, htmlAttributes: new { @class = "btn btn-light" }) |
    @Html.ActionLink("Back to List", "Index")
</p>
